 <!-- Navigation -->

<div class="nav-block">
 
    <div class="nav-head">
      <a href="/"> <h1>Student  Management  System</h1></a>
       

    </div>
    <div class="nav-list">
      
        <a  href="/">Home</a>
          
       <a  href="/admin">Admin</a>
       <a href="/student">Student</a>
           <a  href="/login">Login</a>
          <a  href="/register">Register</a>
          <a  href="/logout">Logout</a>
      
    </div>
 

</div>