


<div class="dashboard">
  <div class="dashboard-header">
    <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text"><a href="/index" >Dashboard</a></span></div>
  <div class="dashboard-sub">
    <ul>
      {{!-- <li><a href="/student" >All Details</a></li> --}}
     <li><a href="/student/create" >Add Contact</a></li>
    
    </ul>
  </div>




</div>
