<div class="index-main">
  <div class="header">
    <h1>Welcome to University</h1>

    <div>
      <p>Study Point is a international leader in teaching students to write
        effectively,<br />
        learn from each other and think for themselves.</p>
    </div>

  </div>
</div>
<div class="index-container">
  <div class="index-subcontainer">
     <i class="fa fa-graduation-cap icon"></i>
    <h2>Program</h2>
    <p>The technical writing profession is continuously evolving as technical logitech...</p>

  </div>
  <div class="index-subcontainer">
    <i class="fa fa-pie-chart icon"></i>
    <h2>Affordability</h2>
   <p>The technical writing profession is continuously evolving as technical logitech...</p>
  </div>
  <div class="index-subcontainer">
    <i class="fa fa-trophy icon"></i>
   <h2>Certification</h2>
    <p>The technical writing profession is continuously evolving as technical logitech...</p>
  </div>

  </div>