

<div class="register-block"> 
    <div class="register-head"><h1>Sign-in</h1>
    </div>
    <div class="register-sub-block">
        <form action="/login" method="post">
          <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
            </div>
            
            <button type="submit" class="btn btn-primary btn-block form-button">Login</button>
            
        </form>
        <div class="register-links">
            <a href="/register">New here?</a>
           <br />
            <a href="/" >Home Page?</a>
        </div>
    </div>
</div>