
<div class="register-block"> 
    <div class="register-head"><h1>Register an account</h1>
    </div>
    <div class="register-sub-block">
        <form action="/register" method="post">
            <div class="form-group">
                <div class="form-row">
                   
                        <label for="exampleInputName">First name</label>
                        <input value="{{firstName}}"  name="firstName" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                    
                    
                        <label for="exampleInputLastName">Last name</label>
                        <input value="{{lastName}}"  name="lastName" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
                    
                </div>
            </div>
             <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input value="{{email}}"  name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <div class="form-row">
                    
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                    
                   
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block form-button">Register</button>



        </form>
        <div class="register-links">
            <a href="/login">Already have an a account?</a>
           <br />
            <a href="/" >Home Page?</a>
        </div>
    </div>
</div>