
<div class="adminbox">
<ul class="navbar-nav navbar-sidenav " id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/admin">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text adminHead">Dashboard</span>
          </a>
        </li>
       
       
        
           <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/allDetails">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">All Details</span>
        </a>
    </li>


    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a class="nav-link" href="/admin/create">
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Create</span>
        </a>
    </li>
        
        
      </ul>
      </div>